<!DOCTYPE html>
<html>
<head>
	<title>上传资源</title>
	<meta charset="utf-8">
	<link href="/stylesheets/insert.css" rel="stylesheet">
</head>
<body>
	<div class="center">
	<h2>上传文件</h2>
	<form method="post">
		<label>文件名称：</label>
		<input type="text" name="title"><br>
		<label>文件类型：</label>
		<input type="text" name="type"><br>
		<label>文件简介：</label>
		<textarea name="introduce"></textarea><br>
		<label>示例图片：</label>
		<input type="text" name="image"><br>
		<label>下载地址：</label>
		<input type="text" name="url"><br>
		<button type="submit">提交</button>
	</form>
	</div>
</body>
</html>