a{
	text-decoration: none;
}

.main{
	width:800px;
	margin:0 auto;
	border:2px solid #4b8fbe;
	padding:10px 200px;
}

.main img{
	width:60%;
}

.main div{
	float:right;
	font-size:24px;
	color:#000;
	margin-left:-100px;
}

.main div p{
	margin-bottom: 20px;
}

.introduce{
	border:2px solid #ec3436;
	font-size:18px;
	border-radius:10px;
}

.showVideo{
	width:1200px;
	margin:20px auto;
	border:2px solid #1877e3;
}